In [33]:
import numpy as np
import pandas as pd

In [20]:
filename ='../data/intraday.csv'
data = pd.read_csv(filename)
data = data[::-1]
data

                   date     open      high       low    close   volume
99  2021-02-05 14:47:00  101.890  101.9200  101.8900  101.920  11494.0
98  2021-02-05 14:48:00  101.920  101.9400  101.8700  101.875  19637.0
97  2021-02-05 14:49:00  101.875  101.8862  101.8001  101.855  21018.0
96  2021-02-05 14:50:00  101.855  101.8550  101.7200  101.720  14664.0
95  2021-02-05 14:51:00  101.720  101.7800  101.6600  101.780  21786.0
..                  ...      ...       ...       ...      ...      ...
4   2021-02-05 18:24:00  102.000  102.0000  102.0000  102.000    100.0
3   2021-02-05 18:36:00  101.600  101.6000  101.6000  101.600    130.0
2   2021-02-05 18:49:00  101.600  101.6000  101.6000  101.600    200.0
1   2021-02-05 18:58:00  101.630  101.6300  101.6300  101.630    168.0
0   2021-02-05 19:56:00  102.000  102.0000  102.0000  102.000    301.0

[100 rows x 6 columns]

In [24]:
for wsz in [10, 50, 200]:
    data['sma{}'.format(wsz)] = data['close'].rolling(wsz).mean()
data

,date,open,high,low,close,volume,sma10,sma50,sma200
99,2021-02-05 14:47:00,101.890,101.9200,101.8900,101.920,11494.0,NaN,NaN,NaN
98,2021-02-05 14:48:00,101.920,101.9400,101.8700,101.875,19637.0,NaN,NaN,NaN
97,2021-02-05 14:49:00,101.875,101.8862,101.8001,101.855,21018.0,NaN,NaN,NaN
96,2021-02-05 14:50:00,101.855,101.8550,101.7200,101.720,14664.0,NaN,NaN,NaN
95,2021-02-05 14:51:00,101.720,101.7800,101.6600,101.780,21786.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4,2021-02-05 18:24:00,102.000,102.0000,102.0000,102.000,100.0,101.84099,101.837062,NaN
3,2021-02-05 18:36:00,101.600,101.6000,101.6000,101.600,130.0,101.83999,101.832064,NaN
2,2021-02-05 18:49:00,101.600,101.6000,101.6000,101.600,200.0,101.82599,101.828286,NaN
1,2021-02-05 18:58:00,101.630,101.6300,101.6300,101.630,168.0,101.82799,101.822686,NaN
0,2021-02-05 19:56:00,102.000,102.0000,102.0000,102.000,301.0,101.86799,101.823686,NaN

In [25]:
for wsz in [10, 50, 200]:
    data['ema{}'.format(wsz)] = data['close'].rolling(wsz, win_type='exponential').mean()
data

,date,open,high,low,close,volume,sma10,sma50,sma200,ema10,ema50,ema200
99,2021-02-05 14:47:00,101.890,101.9200,101.8900,101.920,11494.0,NaN,NaN,NaN,NaN,NaN,NaN
98,2021-02-05 14:48:00,101.920,101.9400,101.8700,101.875,19637.0,NaN,NaN,NaN,NaN,NaN,NaN
97,2021-02-05 14:49:00,101.875,101.8862,101.8001,101.855,21018.0,NaN,NaN,NaN,NaN,NaN,NaN
96,2021-02-05 14:50:00,101.855,101.8550,101.7200,101.720,14664.0,NaN,NaN,NaN,NaN,NaN,NaN
95,2021-02-05 14:51:00,101.720,101.7800,101.6600,101.780,21786.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4,2021-02-05 18:24:00,102.000,102.0000,102.0000,102.000,100.0,101.84099,101.837062,NaN,101.885270,101.664510,NaN
3,2021-02-05 18:36:00,101.600,101.6000,101.6000,101.600,130.0,101.83999,101.832064,NaN,101.905612,101.696427,NaN
2,2021-02-05 18:49:00,101.600,101.6000,101.6000,101.600,200.0,101.82599,101.828286,NaN,101.956991,101.689163,NaN
1,2021-02-05 18:58:00,101.630,101.6300,101.6300,101.630,168.0,101.82799,101.822686,NaN,101.959733,101.623967,NaN
0,2021-02-05 19:56:00,102.000,102.0000,102.0000,102.000,301.0,101.86799,101.823686,NaN,101.923582,101.573941,NaN

In [30]:
swaps = data['sma10'] > data['sma50']
print(swaps)

99    False
98    False
97    False
96    False
95    False
      ...
4      True
3      True
2     False
1      True
0      True
Length: 100, dtype: bool

In [43]:
edges = swaps.rolling(2).aggregate(np.diff)
edges

99    NaN
98    0.0
97    0.0
96    0.0
95    0.0
     ...
4     1.0
3     0.0
2    -1.0
1     1.0
0     0.0
Length: 100, dtype: float64